<div class="comment" id="{{include.comment._id}}">
    <div class="comment-sidebar">
        <img class="comment-avatar" src="https://www.gravatar.com/avatar/{{ include.comment.email }}?d=mm&s=50" 
        srcset="https://www.gravatar.com/avatar/{{ include.comment.email }}?d=mm&s=100 2x"
        alt="{{ include.comment.name }}" height="50" width="50" />
    </div>
    <div class="comment-content-bar">
        <div class="comment-name">{{include.comment.name}}</div>
        <a href="#{{include.comment._id}}" class="comment-date" title='Link directly to this comment'>
            {{include.comment.date | date: "%B %e, %Y at %l:%m%p" }}
        </a>
        <p class="comment-message">{{include.comment.message | markdownify}}</p>
        <div class="comment-reply-container">
            <a class="comment-reply-anchor hide" onclick="showReplyForm(this)"><i class="reply">&#x21b6;</i> Reply to {{include.comment.name}}</a>
            {% include add-comment-form.html comment=include.comment %}
        </div>
        <div class="child-comments-container">
            <!--loop through every comment, add subcomments only for this comment-->
            {% for c in include.comments %}
                {% assign loopComment = c[1] %}
                {% if loopComment.parentId != '' and loopComment.parentId == include.comment._id %}
                    {% include comment.html comment=loopComment comments=comments %}
                {% endif %}
            {% endfor %}
        </div>

    </div>
</div>